<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='Content/css/styles.css'>
  </head>
  <body>
    <h1>Enter a word to see if it's a Palindrome</h1>
    <form action="/" method="post">
      <input type="text" name="text"> Enter some text, why not? <br>
      <button type="submit" name="player1" value="Paper">Submit</button>
    </form>
    <ul>
      @{
        if(Model!=null)
        {
            <h2>Is a Palindrome? @Model</h2>
        }
      }
    </ul>
  </body>
</html>
